<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NNUG - Norwegian .NET User Group</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Homepage for Norwegian .NET User Group">
        <meta name="author" content="Joar Øyen">     
        
        @Styles.Render("~/content/style/css")
        @Styles.Render("~/content/style/css/fontawesome")
        @Styles.Render("~/content/rateit")
        @Scripts.Render("~/scripts/modernizr")

    </head>
    <body>
        <header>
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img alt="NNUG logo" src="~/Content/images/NNUG-logo.png" />
                            <span class="brand-text">Norwegian .NET User Group</span>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Forsiden", "Index", "Home")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Om NNUG <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Om NNUG", "About", "Home")</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Ofte stilte spørsmål", "Faq", "Home")</li>
                                    <li>@Html.ActionLink("Tips til foredragsholdere", "Speaker", "Home")</li>
                                    <li>@Html.ActionLink("Starte ny avdeling", "StartChapter", "Home")</li>
                                </ul>
                            </li>
                            <li class="navbar-twitter-button">@Twitter.FollowerButton("nnug", true)</li>
                            <li class="navbar-vimeo-button"><a href="https://vimeo.com/nnug/"><img src="https://a.vimeocdn.com/images_v6/blogbadge_channels.png" alt="Vimeo" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        
        <div class="container">
            @RenderBody()
        </div>

        <footer>
            <div class="container">
                Copyright &copy; @DateTime.Now.Year Norwegian .NET User Group
            </div>
        </footer>

        @Scripts.Render("~/scripts/jquery")
        @Scripts.Render("~/scripts/bootstrap")

        @RenderSection("scripts", required: false)
    </body>
</html>
